FLASK_APP=app
FLASK_ENV=production
SECRET_KEY=studioops-demo-secret-key-2026
DATABASE_URL=sqlite:////data/db/studioops.db
LOG_DIR=/data/logs
LOG_FILE=/data/logs/app.log
UPLOAD_FOLDER=/data/uploads
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120
HOST_PORT=5000
